<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>
<form method="POST" id="authForm">
    <div>
        <p>
        <h1> Hello</h1>
        </p>
        <h3> Please Sign-In</h3>
        <p>
            <label for="U_id">서명&nbsp&nbsp&nbsp</label>
            <input type="text" id="U_id" name="U_id" placeholder="id">
        </p>
 
        <p>
            <label for="U_pw">비밀번호</label>
            <input type="password" id="U_pw" name="U_pw" placeholder="pw">
        </p>
    </div>
    <input type="submit" name="sign_in" value="sign in" style="WIDTH: 183pt"/>
    <p>
        <input type=button style="WIDTH: 183pt; background-color:transparent;  border:2px transparent solid;"
               value="Register" name="register" onclick="location.href='register'">
    </p>
 
</form>
 
</body>
</html>
