<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <title>REGISTER</title>
</head>
<body>
    <form method="POST" id="authForm">
  <div>
      <h3> Register </h3>
      <p>
          <label for="U_id">아이디&nbsp&nbsp&nbsp</label>
          <input type="text " id="regi_id" name="U_id" >
      </p>
      <p>
          <label for="U_pw">비밀번호</label>
          <input type="password" id="U_pw" name="U_pw">
      </p>
      <input type="submit" name="submit" value="submit" style="WIDTH: 183pt"/>
 
    </div>
</form>
 
</body>
</html>
